@import url(‘https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap’);

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #000;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    color:#000;
}
