
.main {
    margin-top:2rem;
    gap:2rem;
}

.main input, .main textarea {
    border: 0.125rem solid var(--primary-color);
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;

}

label {
    text-align: center;
    font-size:clamp(1rem, 3vw, 1.5rem);

}
#contact-heading h1{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#contact-heading p {
    margin:0.5rem;
    text-align:center;
}

#submit-button {
    border: 0.125rem solid #F4F3F2;
    background-color: #FFB23D;
    color: var(--primary-text-color);
}

#contact-us-form {
    display: flex;
    flex-direction: column;

    border:0.2rem solid var(--primary-color);
    background-color:#F4F3F2;
    border-radius: 10px;
    padding:0.5rem;

    width:clamp(10rem, 95vw, 60rem);
}