#map-feature p{
    position: absolute;
    bottom: 5rem;
    color: #F4F3F2;
    z-index: 1;
    background-color: rgba(82,180,125,0.7);
    left: 2rem;
    font-size: 1.5rem;
    padding:0.5rem;
    border-radius: 0.5rem;
}
#map-feature span{
    position:absolute;
    z-index: 1;
    bottom: 5rem;
    color:#FFB23D;
    font-size:2rem;
}
#worldmap {
    position: absolute;
    object-fit: cover;
    width:100%;
    height:40rem;
    background-color: #F4F3F2;
}
#map-feature {
    background-color: #F4F3F2;
}