{% extends "base.html" %}

{% block content %}
<h1>About us</h1>
<h1>About us</h1>
<p>Charity hub is a research tool that you can use to find the charities that you would like to support and champion. Our database is specially designed so that you can filter through charities based on your location, interests and belief system.
</p>
<h2>Meet the Team</h2>
<div id="about-team-container">
  <div class="contributor-profile">
    <h3>Name</h3>
    <img src="#contributor-image" alt="Image of named team member">
    <a href="#linkedin-link" target="_blank" aria-label="Opens LinkedIn profile in new window">Find NAME on LinkedIn</a>
    <a href="#github-link" target="_blank" aria-label="Opens Github profile in new window">NAME's Github profile</a>
  </div>
  <div class="contributor-profile">
    <h3>Name</h3>
    <img src="#contributor-image" alt="Image of named team member">
    <a href="#linkedin-link" target="_blank" aria-label="Opens LinkedIn profile in new window">Find NAME on LinkedIn</a>
    <a href="#github-link" target="_blank" aria-label="Opens Github profile in new window">NAME's Github profile</a>
  </div>
  <div class="contributor-profile">
    <h3>Name</h3>
    <img src="#contributor-image" alt="Image of named team member">
    <a href="#linkedin-link" target="_blank" aria-label="Opens LinkedIn profile in new window">Find NAME on LinkedIn</a>
    <a href="#github-link" target="_blank" aria-label="Opens Github profile in new window">NAME's Github profile</a>
  </div>
  <div class="contributor-profile">
    <h3>Name</h3>
    <img src="#contributor-image" alt="Image of named team member">
    <a href="#linkedin-link" target="_blank" aria-label="Opens LinkedIn profile in new window">Find NAME on LinkedIn</a>
    <a href="#github-link" target="_blank" aria-label="Opens Github profile in new window">NAME's Github profile</a>
  </div>
  <div class="contributor-profile">
    <h3>Name</h3>
    <img src="#contributor-image" alt="Image of named team member">
    <a href="#linkedin-link" target="_blank" aria-label="Opens LinkedIn profile in new window">Find NAME on LinkedIn</a>
    <a href="#github-link" target="_blank" aria-label="Opens Github profile in new window">NAME's Github profile</a>
  </div>
  <div class="contributor-profile">
    <h3>Name</h3>
    <img src="#contributor-image" alt="Image of named team member">
    <a href="#linkedin-link" target="_blank" aria-label="Opens LinkedIn profile in new window">Find NAME on LinkedIn</a>
    <a href="#github-link" target="_blank" aria-label="Opens Github profile in new window">NAME's Github profile</a>
  </div>
</div>
{% endblock %}