{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about-us.css') }}">
{% endblock %}


{% block content %}
<main class="main">
    <h1>About us</h1>
    <p>CharityHub is a research tool that you can use to find the charities that you would like to support and champion. Our database is specially designed so that you can filter through charities based on your location, interests and belief system.
    </p>
    <h2>Meet the Team</h2>
    <div id="about-team-container">
        <div class="contributor-profile">
            <h3>Samar Ziadat</h3>
            <img src="https://raw.githubusercontent.com/alphaClass6143/hackathon-2023-charityhub/main/app/assets/images/contributors/about-samar.webp" alt="Image of Samar Ziadat">
            <div class="contributor-links">
                <a href="" target="_blank" rel="noopener" aria-label="Opens LinkedIn profile in new window">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/SamarZiadat" target="_blank" rel="noopener" aria-label="Opens Github profile in new window">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
        <div class="contributor-profile">
            <h3>Anthony Wilson</h3>
            <img src="https://raw.githubusercontent.com/alphaClass6143/hackathon-2023-charityhub/main/app/assets/images/contributors/about-anthony.webp" alt="Image of Anthony Wilson">
            <div class="contributor-links">
                <a href="https://www.linkedin.com/in/anthony-wilson-39494283/" target="_blank" rel="noopener" aria-label="Opens LinkedIn profile in new window">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/Tonywilson1211" target="_blank" rel="noopener" aria-label="Opens Github profile in new window">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
        <div class="contributor-profile">
            <h3>Robin Bosch</h3>
            <img src="https://raw.githubusercontent.com/alphaClass6143/hackathon-2023-charityhub/main/app/assets/images/contributors/about-samuel.webp" alt="Image of Robin Bosch">
            <div class="contributor-links">
                <a href="https://www.linkedin.com/in/robin-bosch-437033163/" target="_blank" rel="noopener" aria-label="Opens LinkedIn profile in new window">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/alphaClass6143" target="_blank" aria-label="Opens Github profile in new window">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
        <div class="contributor-profile">
            <h3>Soorya George</h3>
            <img src="" alt="Image of Soorya George">
            <div class="contributor-links">
                <a href="" target="_blank" aria-label="Opens LinkedIn profile in new window">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/SooryaGeorge7" target="_blank" aria-label="Opens Github profile in new window">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
        <div class="contributor-profile">
            <h3>Samuel Sadovoi</h3>
            <img src="" alt="Image of Samuel Sadovoi">
            <div class="contributor-links">
                <a href="" target="_blank" aria-label="Opens LinkedIn profile in new window">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/SamSswi" target="_blank" aria-label="Opens Github profile in new window">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
        <div class="contributor-profile">
            <h3>Hernán Díaz</h3>
            <img src="https://raw.githubusercontent.com/alphaClass6143/hackathon-2023-charityhub/main/app/assets/images/contributors/about-hernan.webp" alt="Image of Hernán Díaz">
            <div class="contributor-links">
                <a href="" target="_blank" aria-label="Opens LinkedIn profile in new window">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/hernanpd" target="_blank" aria-label="Opens Github profile in new window">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock %}