<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Statics -->
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/brands.min.css">
    {% endblock %}

    <title>Document</title>
</head>

<body>
  <header>
    <h1>Charity hub</h1>
    <input type="text" placeholder="Search..">
    <nav>
      <a href="about-us.html" aria-label="Opens about us page">About Us</a>
      <a href="#list" aria-label="Opens list of all charities">Charities</a>
      <a href="contact-us.html" aria-label="Opens contact us page ">Contact Us</a>
      <a href="index.html" aria-label="Opens home page">Home</a>
    </nav>
  </header>
  <!-- Block content -->
  {% block content %}
  {% endblock %}
  <footer>

  </footer>
</body>

</html>