{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/charity.css') }}">
{% endblock %}


{% block content %}

<hr>
<hr>
<hr>

<!-- For loop to display all the charities in the json file -->



<div class="container-fluid">
  <div class="row">
    <div class="col-xl-10 mx-auto">
      <div class="row g-3">
        {% for charity in charities %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card h-100" style="background-color: #f8cfa6;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"
                style="margin-bottom: 20px; color: #000; font-size: 24px; font-weight: bold; text-transform: uppercase;">
                <a href="/charity/{{charity.url}}" style="color: #000;">{{ charity.charity_name }}</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Mission: {{ charity.goal }}</h6>
              <div class="mt-auto">
                <p class="card-text" style="background-color: #F5F5F5; padding: 5px 10px;">Outreach:
                  {{ charity.region_served }}</p>
                <a href="{{charity.website_link}}" target="_blank" class="card-link"><i class="fa-solid fa-globe"
                    style="color: #000;"></i></a>
                <a href="{{charity.wikilink}}" target="_blank" class="card-link"><i class="fa-brands fa-wikipedia-w"
                    style="color: #000;"></i></a>
                <p class="badge bg-dark text-light d-block text-center mt-3" style="background-color: #000;">
                  {{ charity.category }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<hr>
<hr>
<hr>


{% endblock %}