{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/charity.css') }}">
{% endblock %}


{% block content %}
<h1>Charity</h1>

<hr>
<hr>
<hr>

<!-- For loop to display all the charities in the json file -->
{% for charity in charities %}
<div>
    <h2><a href="/charity/{{charity.url}}">{{ charity.charity_name }}</a></h2>
    <h6>{{ charity.goal}}</h6>
    <h6>{{ charity.origin_location}}</h6>
    <h6>{{ charity.region_served}}</h6>
    <h6>{{ charity.founder}}</h6>
    <h6>{{ charity.year_founded}}</h6>
    <h6>{{ charity.annual_revenue}}</h6>
    <h6>{{ charity.wikilink}}</h6>
    <h6>{{ charity.website}}</h6>
    <h6>{{ charity.category}}</h6>
    <h6>{{ charity.keywords}}</h6>
    <hr>
</div>
<hr>
<hr>
<hr>

{% endfor %}

<a href="{{ charity.websitelink }}">Link</a>
{% endblock %}