<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>

</head>
<body>
    <section>
        <div>
            <h1>Get In Touch</h1>
            <p>Do you want to know more about how you can get involved?Complete the form below</p>
        </div>
        <div>
            <form>
                <fieldset>
                    <legend>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="firstname" required>
                    </legend>
                </fieldset>

            </form>

        </div>
    </section>
    

</body>
</html>