<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Document</title>

</head>
<body>
    <section>
        <div id="contact-heading">
            <h1 >Get In Touch</h1>
            <p>Do you want to know more about how you can get involved?<br><em>Complete the form below</em></p>
        </div>
        <div id="contactus">
            <form>
                <fieldset>
                    <legend>
                        <label for="name">Name<br></label>
                        <input type="text" id="name" name="firstname" required>
                        <label for="surname">Surname</label>
                        <input type="text" id="surname" name="surname" required>
                        <label for="message" ><br>Your message<br></label>
                        <textarea id="message" rows="4" cols="20" name="message" required></textarea>
                        <input id="submit-button" value="Submit Form" type="submit">
                    </legend>
                </fieldset>

            </form>

        </div>
    </section>
    

</body>
</html>