{% extends "base.html" %}

{% block content %}

<section id="map-feature">
    <p>Connecting you to NGOs worldwide</p>
    <img id="worldmap" src="../assets/images/world-map-black.webp" alt="world map">
    <span id="canada"><i class="fa-solid fa-location-pin"></i></span>
    <span id="africa"><i class="fa-solid fa-location-pin"></i></span>
    <span id="australia"><i class="fa-solid fa-location-pin"></i></span>
    <span id="south-america"><i class="fa-solid fa-location-pin"></i></span>
    <span id="asia"><i class="fa-solid fa-location-pin"></i></span>
    <span id="europe"><i class="fa-solid fa-location-pin"></i></span>
    

</section>



{% endblock %}